REACT_APP_PROJECT_API="http://localhost:2221/identity/v3/projects"
REACT_APP_SERVER_API="http://localhost:2221/compute/v2.1/servers"
REACT_APP_FLAVORS_API="http://localhost:2221/compute/v2.1/flavors"
REACT_APP_AUTH_TOKEN="OPENSTACK_AUTH_TOKEN"
REACT_APP_PARENT_CONTRACT_ADDRESS="0x0000000000000000000000000000000000000000"
